.fala{
    color: black;
    text-align: center;
    width: 250px;
    padding: 30px;
}

.slider-fala {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 30px;
    width: 200px;
    font-size: 14px;
    color: #333;
  }

  .container-fala{
    display: flex;
    align-items: start;
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 35px;
    transform: translateY(-55px);
    position: relative;
    z-index: 20;
  }