.fala{
    color: black;
    text-align: center;
    width: 250px;
    padding: 30px;
}

a {
    text-decoration: none;
    max-width: 400px;
}

.carouselItem{
    max-width: 400px;
    text-align: center;
}

ngb-carousel{
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 35px;
}