<ngb-carousel *ngIf="images">
    <ng-template ngbSlide class="rounded mx-auto d-block">
        <div class="picsum-img-wrapper">
            <a routerLink=blog>
                <img [src]="images[0]" alt="Random first slide" class="rounded mx-auto d-block img-thumbnail" />
            </a>
        </div>
        <div class="carousel-caption">
            
        </div>
    </ng-template>
    <ng-template ngbSlide class="rounded mx-auto d-block">
        <div class="picsum-img-wrapper">
            <a routerLink=projects>
                <img [src]="images[1]" alt="Random second slide" class="rounded mx-auto d-block img-thumbnail" />
            </a>
        </div>
        <div class="carousel-caption">
            
        </div>
    </ng-template>
</ngb-carousel>