.container-sm {
    background-color: lightgray;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pageAlign {
    display: inline-block;
    max-width: 800px;
    text-align: justify;
}

.post-banner {
    max-width: 800px;
}