.banner {
    background-image: URL('../../../assets/Images/Escritorio.jpg');
    height: 500px;
}

.bannerCartoon{
    max-width: 500px;
    
}

@media only screen and (max-width: 500px){
    .bannerCartoon {
        width: 350px;
        margin-top: 40%;
    }
}

app-carousel{
    display: inline-block;
}

@media only screen and (max-width: 770px){
    app-carousel {
        opacity: 0;
    }
}

.pontaBalao{
    position: absolute;
    top: 290px;
    left: 410px;
    width: 130px;
    height: 80px;
}