<div class="container-sm">
    <div class="pageAlign">
        <div style="text-align: center;">
            <h1>Valentim Jose Affonso Junior</h1>
            <p>Itu - São Paulo - Brasil</p>
            <p>Fone: 55(11)937143051</p>
            <p>Email: timzejr@yahoo.com.br</p>
            <p>Linkedin: linkedin.com/in/valentim-affonso</p>
            <p>Nacionalidade: brasileiro</p>
        </div>
        <hr>
        <h2>Objetivo</h2>
        <p>Desenvolvedor fullstack dotnet | Angular</p>
        <hr>
        <h2>Formação</h2>
        <p>Análise e Desenvolvimento de Sistemas - FATEC - Itu</p>
        <p>Fevereiro de 2019 – dezembro de 2021</p>
        <hr>
        <h2>Experiência</h2>
        <div class="itemContainer">
            <div class="coluna">
                <h3>SW Soluções</h3>
                <p>Função: Estagiário</p>
                <p>Período: maio de 2021 – abril de 2022</p>
                <ul>
                    <li>Helpdesk para estudantes e professores com as plataformas usadas pela faculdade (Mentor e Moodle).</li>
                    <li>Auxiliar a implantação do novo sistema acadêmico (Mentor).</li>
                </ul>
            </div>
            <div class="coluna">
                <h3>Aisin Automotive LTDA</h3>
                <p>Função: Sub-lider de ferramentaria</p>
                <p>Período: julho de 2012 – julho de 2019</p>
                <ul>
                    <li>Reparos em ferramentas de estampo e injeção de alumínio.</li>
                    <li>Organizar, orientar e monitorar as atividades da equipe com auxílio do quadro de kanban.</li>
                    <li>3 meses de treinamento no Japão sobre moldes de aluminio, segurança do trabalho e qualidade.</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="itemContainer">
            <div class="coluna">
                <h2>Habilidades:</h2>
                <ul>
                    <li>Organização e execução</li>
                    <li>Suporte e cooperação</li>
                    <li>Curioso</li>
                    <li>Focado</li>
                    <li>Kambam</li>
                    <li>Scrum</li>
                    <li>Desenvolvimento .NET</li>
                    <li>Arquitetura de microsserviços</li>
                    <li>Angular</li>
                    <li>Azure (AZ-900, DP-900, AI-900, uso de SQL databases e deploys)</li>
                </ul>
            </div>
            <div class="coluna">
                <h2>Idiomas:</h2>
                <ul>
                    <li>Português nativo</li>
                    <li>Inglês avançado</li>
                    <li>Espanhol intermediário</li>
                </ul>
            </div>
        </div>
        <hr>
        <h2>Cursos:</h2>
        <p>Certificado Microsoft: Microsoft Azure AI Fundamentals (AI-900)</p>
        <p>Microsoft</p>
        <p>Concluído em janeiro/2023</p>
        <br>
        <p>Arquitetura de Microsserviços do 0 com ASPNET, .NET 6 e C#</p>
        <p>Udemy</p>
        <p>Concluído em dezembro/2022</p>
        <br>
        <p>Certificado Microsoft: Microsoft Azure Data Fundamentals (DP-900)</p>
        <p>Microsoft</p>
        <p>Concluído em outubro/2022</p>
        <br>
        <p>DP-900 Microsoft Azure Data Fundamentals</p>
        <p>Fundação FAT</p>
        <p>Concluído em outubro/2022</p>
        <br>
        <p>Pottencial .Net Developer</p>
        <p>Digital Innovation One</p>
        <p>Concluído em outubro/2022</p>
        <br>
        <p>Formação Angular Developer</p>
        <p>Digital Innovation One</p>
        <p>Concluído em setembro/2022</p>
        <br>
        <p>Formação HTML Developer</p>
        <p>Digital Innovation One</p>
        <p>Concluído em setembro/2022</p>
        <br>
        <p>Formação .Net Developer</p>
        <p>Digital Innovation One</p>
        <p>Concluído em agostro/2022</p>
        <br>
        <p>C# Completo Programação Orientada a Objetos + Projetos</p>
        <p>Udemy</p>
        <p>Concluído em julho/2022</p>
        <br>
        <p>Certificado Microsoft: Azure FUndamentals (AZ-900)</p>
        <p>Microsoft</p>
        <p>Concluído em julho/2022</p>
        <br>
        <p>AZ-900 Microsoft Azure Fundamentals</p>
        <p>Fundação FAT</p>
        <p>Concluído em junho/2022</p>
        <br>
        <p>MRV fullstack developer</p>
        <p>Digital Innovation One</p>
        <p>Concluído em março/2022</p>
        <br>
        <p>Avanade Angular Developer</p>
        <p>Digital Innovation One</p>
        <p>Concluído em maio/2021</p>
        <br>
        <p>Microsoft Azure: Do Zero a Certificação</p>
        <p>Udemy – Andre Lacono</p>
        <p>Concluído em fevereiro/2021</p>
        <br>
        <p>Curso Web Moderno Completo com JavaScript 2020 + Projetos</p>
        <p>Udemy – Cod3er Cursos Online</p>
        <p>Concluído em dezembro/2020</p>
        <br>
        <p>Guia Definitivo para Desenvolvimento de Jogos com Unity</p>
        <p>Udemy - Unity Technologies</p>
        <p>Concluido em janeiro/2020</p>
        <br>
        <p>Mecânica de usinagem</p>
        <p>Escola SENAI “Ítalo Bologna” Itu</p>
        <p>Concluído em 2007</p>
        <br>
        <p>Eletricista de manutenção</p>
        <p>Escola SENAI “Ítalo Bologna” Itu</p>
        <p>Concluído em 2005</p>
    </div>
</div>