<div class="container-md projects">
    <H2>Projetos</H2>
    <div class="project">
        <h3>Página pessoal</h3>
        <img src="https://postsimages.blob.core.windows.net/images/2b9185f4-a4a3-4751-8897-da607065799e-Pagina.jpg" alt="">
        <p>Esta página com backend feito com uma API Dotnet e o frontend com Angular, está com seus recursos de banco de dados, conteineres de imagens e servidores hospedado nos serviços azure.</p>
        <a routerLink="projects/post/2">Leia mais...</a>
    </div>
    <div class="project">
        <h3>GeekShopping</h3>
        <img src="https://postsimages.blob.core.windows.net/images/775b6daf-4ed3-4ce8-98d0-424726de21b8-GeekShoppingCapa.jpg" alt="">
        <p>Este projeto feito com APIs Dotnet e frontend MVC abordou arquitetura de microsserviços, padrão de projeto VO além de usar recursos como requisições assincronas com o rabbitMQ e uma APIGateway com Ocelot.</p>
        <a routerLink="projects/post/3">Leia mais...</a>
    </div>
    <div class="project">
        <h3>Protótipo game</h3>
        <img src="https://postsimages.blob.core.windows.net/images/1122a1c3-3aa2-44ad-bad4-c7acb4ed3b1c-PrototipoGame.jpg" alt="">
        <p>Protótipo de uma cena de jogo usando diversos assets, durante a cena o jogo muda de um jogo 3D para 2.5D ao entrar em um estágio, mudando os comandos e a câmera do jogo no processo.</p>
        <a routerLink="projects/post/4">Leia mais...</a>
    </div>
    <br>
    <div class="projectLinks">
        <a routerLink="/projects">Veja mais projetos...</a>
    </div>
    <br><br>
</div>

