<br>
<div class="skillsBox container-md">
    <h2>Habilidades</h2>
    <div class="skillItem">
        <img src="../../../assets/Images/Microsoft_.NET_logo.png" alt="">
        <p>Dotnet: Projetos console, Projetos MVC e APIs com a linguagem C# e padrão de projeto VO</p>
    </div>
    <div class="skillItem">
        <img src="../../../assets/Images/LogoAngular.png" alt="">
        <p>Angular: Criar páginas, componentes, consumir APIs</p>
    </div>
    <div class="skillItem">
        <img src="../../../assets/Images/LogoAzure.png" alt="">
        <p>Azure: AZ-900, DP-900 e AI-900. Criar grupos de recursos, maquinas virtuais, criar e consumir storages, tabelas e bancos de dados</p>
    </div>
    <div class="skillItem">
        <img src="../../../assets/Images/Unity-logo.png" alt="">
        <p>Unity: Criar jogos, cenas, maqutes com a linguagem C# e consumir assets.</p>
    </div>
</div>

