/* You can add global styles to this file, and also import other style files */
body {
    background-image: URL(assets/Images/Wood026_2K_Color.jpg);
    background-size: 500px 500px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
