<div>
    <div class="page" @fadeIn @fadeOut>
        <span class="description">
            <H1>Bem vindo a minha página</H1>
            <p>Aqui compartilho um pouco da minha jornada empolgante no mundo da tecnologia! Sou o Valentim, entusiasta das inovações que a tecnologia tem proporcionado nos últimos anos.</p>
            <p>Ao longo da minha jornada, tenho me dedicado a estudar e aprimorar minhas habilidades em diversas tecnologias, como .Net, Azure, Angular e Unity. Recentemente, venho trabalhando com plataformas de e-commerce Vtex e Loja Integrada, explorando suas possibilidades e desafios.</p>
            <p>Esta página é meu espaço para mostrar um pouco do que venho aprendendo e construindo com esse conhecimento.</p>
            <p>Aqui, você encontrará uma variedade de projetos e posts que refletem minha paixão pelo desenvolvimento e inovação tecnológica. Sinta-se à vontade para explorar, deixar sugestões de melhorias, apresentar alternativas ou fazer perguntas. Se você ainda não fez isso, adicione-me no <a href="https://linkedin.com/in/valentim-affonso-06b26420b/">linkedin</a> para fortalecermos nosso networking.</p>
            <p>Agradeço pela sua visita! Espero que encontre inspiração e conhecimento em minha jornada tecnológica. Estou sempre em busca de novos desafios, então continue acompanhando as atualizações e novidades.</p>
            <p>Obrigado pela sua visita!</p>
        </span>
        <div class="fotoPerfil">
            <img *ngIf="isShown" @imageFadeIn @imageFadeOut  src="../../../assets/Images/PerfilCartoon2.png" alt="Minha ilustração">
        </div>
    </div>
</div>
