<div>
    <div class="page" @fadeIn @fadeOut>
        <span class="description">
            <H1>Bem vindo a minha página</H1>
            <p>Olá, sou Valentim!</p>
            <p>Um cara empolgado com tantos recursos que a tecnologia vem proporcionando nos ultimos anos.</p>
            <p>Venho estudando muito algumas tecnologias como .Net, Azure, Angular, e Unity.</p>
            <p>Estou construindo esta página para mostrar um pouco do que estou aprendendo e construindo com este aprendizado.</p>
            <p>O mundo da tecnologia e desenvolvimento é colossal e está cada vez maior, então não da para parar.</p>
            <p>Fique a vontade para ver meus projetos e posts e dar sujestões de melhorias, outras alternativas ou perguntar algo.</p>
            <p>Se você ainda não tem, me adiciona no <a href="https://linkedin.com/in/valentim-affonso-06b26420b/">linkedin</a> para fortalecermos nosso networking.</p>
            <p>Obrigado pela sua visita!</p>
        </span>
        <div class="fotoPerfil">
            <img *ngIf="isShown" @imageFadeIn @imageFadeOut  src="../../../assets/Images/PerfilCartoon2.png" alt="Minha ilustração">
        </div>
    </div>
</div>
